*{
    margin: 0;
}
a{
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav{
    display: flex;
    background-color: #f8c537;
    justify-content: space-around;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
.links a{
    margin-left: 1vw;
}
.icon{
    background: url(../images/sprite3.png) no-repeat;
    width: 66px;
    height: 66px;
    display: inline-block;
}
#youtube{
    background-position: -439px -221px;
}
#twitter{
    background-position: -66px -72px;
}
#pinterest{
    background-position: -141px -221px;
}
#soundcloud{
    background-position: -587px -72px;
}
@media screen and (max-width: 600px){
    nav{
        position: relative;
        background-color: #1d2f6f;
    }
    .pagetitle{
        background-color: #dbb03a;
        padding: 1vw;
    }
    .links{
        display: none;
        z-index: 1;
        position: absolute;
        background-color: #cca539;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        min-width: 100vw;
        
    }
    .links a{
        color: black;
        padding-top: 1vh;
        padding-bottom: 1vh;
        display: block;
    }
    .links a:hover{
        background-color: #8390fa;
        transition: .3s;
    }
    nav:hover .links{
        display: block;
    }
    nav:hover .pagetitle{
        background-color: #ddd000;
    }
}